* {
    margin: 0;   
    padding: 0;  
    box-sizing: border-box;  
    }

body {
    width: 1440px;
    padding: 70px;
    font-family: "Hanken Grotesk";
    font-weight: 500;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    flex-wrap:wrap;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: initial;
    border: 1px solid blue;
    width: 368px;
    height: 512px; /* ?? */
    border-radius: 32px;
    padding: 30px;
}

.column-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;

}

.right .column-title {
    align-self: start;
}

.total-score {
    font-size: 72px;
    font-weight: 800;
}

.outcome-title {
    font-size: 32px;
    font-weight: 800;
}

.score-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid green;
}

.result-statement {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 260px;
    height: 134px;
    text-align: center;
    gap: 15px
}

.score p {
    text-align: center;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: initial;
    gap: 20px;
    width: 272px;
    height: 288px;
}

.summary {
    gap: 50px;
    width: 288px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 15px;
    padding: 15px 30px;
    font-weight: 800;
}

.category {
    display: flex;
}

.button {
    font-size: 18px;
    font-weight: 500;
    max-width: 100%;
}




/*   
Notes from https://blog.hubspot.com/website/css-border-radius-circle
for circle around text
    .center {
  background: #FF7A59;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
} */