.container {
    overflow: hidden;
    position: relative;
    width: 375px;
    height: 1000px;
}

.container-bg {
    background-color: hsl(0, 100%, 74%);
    width: 100%;
    height: auto;
    position: absolute;
}

.container-1, .container-2 {
    position: relative;
}

